{% extends 'shared/base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create New Story View</title>
  </head>
  <body>
    <form action="{% url 'create_new_story' %}" method="post">
        {% csrf_token %}
            <h1>Story for {{kids.kid_first_name}}</h1>
            {% comment %} <label for="kids">Choose a kid:</label>
            <select id="kids">
            {% for kid in kids %}
                <option value="kid_name">{{ kid.kid_first_name}}</option>
            {% endfor %}
            </select>{% endcomment %}
            <textarea rows="5" cols="100" name="text">
                {{story_prompt}}
            </textarea>
            <input type="submit" value="Save Story Prompt" />
    </form>

  </body>
</html>

{% endblock %}