{% extends 'shared/base.html' %}
{% block content %}
{% load static %}

  <div class="w3-container">
    <form action="{% url 'create_new_story' %}" method="post">
        {% csrf_token %}
            <h1>Story for {{kids.kid_first_name}}</h1>
            <textarea class="textAreas w3-round-large" rows="5" cols="75" name="text">{{story_prompt}}
            </textarea>
            <div class="w3-display-container" style="width: 622px; height: 50px;">
              <button class="w3-button w3-round-large w3-display-middle allButtons" type="submit" value="Save Story Prompt">Save Story Prompt</button>
            </div>
    </form>
  </div>

{% endblock %}