{% extends 'shared/base.html' %}
{% block content %}

<h2>Register</h2>
<form method="post">
    {% csrf_token %}
<!--     These values will be saved as part of a new User instance -->
    <input type="text" placeholder="Username" name="username">
    <input type="text" placeholder="Password" name="password">
<!--     This value will be saved on the new Parent instance -->
    <input type="text" placeholder="Enter a child's first" name="kid_first_name">

    <button type="submit">Submit</button>
</form>

{% endblock %}