{% extends 'shared/base.html' %}
{% block content %}
{% load static %}

<img src="{% static "bspapp/daddy_reading_bedtime_story.jpeg" %}" id="login_background_image">
<h1 id="welcome">Welcome to the Bedtime Story Prompter!</h1>

    <div class="w3-round-large w3-margin w3-card w3-display-right cards loginCard">
        <header class="w3-container storyElementCardHeader">
            <h2>Please Register</h2>
        </header>
        <div class="w3-container">
            <form method="post">
                {% csrf_token %}
                <!--     These values will be saved as part of a new User instance -->
                <input type="text" placeholder="Username" name="username">
                <input type="text" placeholder="Password" name="password">
                <!--     This value will be saved on the new Kid instance -->
                <input type="text" placeholder="Enter a child's first" name="kid_first_name">
                <div class="w3-display-container" style="width: 100px; height: 50px;">
                    <button class="w3-button w3-round-large w3-display-middle allButtons" type="submit" value="Save Story Prompt">Login</button>
                </div>
            </form>
        </div>
    </div>


{% endblock %}