
body {
    font-family: "Comfortaa";
    margin-top: 38px;
    background-color: #483475;
    color: white;
 }

.isHidden {
    display: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Sniglet", verdana, sans-serif;
    display: inline;
  }

.navbar {
    background-color: #141852;
}

.cards {
    background-color: #ecdcfa;
}

.storyElementCardHeader {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #141852;
}

.allButtons {
    background-color: #141852;
    display: inline;
}

.textAreas {
    background-color: #ecdcfa;
    display: block;
    margin-bottom: 20px;
}

#login_background_image {
    position: fixed;
    margin: 15px;
    width: 75%;
    height: auto;
    z-index: -1;
    background-size: cover;

    /* Preserve aspet ratio */
    /* min-width: 100%;
    min-height: 100%; */
}

.loginCard {
    position: fixed;
    width: 25%;
}

#welcome {
    position: fixed;
    width: 30px;
    top: 150px;
    left: 50px;
}